body{
    background: black;
}
html{
    font-size: 62.5%;
}
.page-header{
    height: 80%;
    width: 100%;
}
@media screen and (min-width: 42em) and (max-width: 64em){
.page-header{
    padding: 3rem 4 rem;
}}
.page-header {
    font-size: 3.5rem;
    font-family: Acme;
    height: 52.0rem;
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(
120deg, #155799, #159957);
}
.project-name{
    padding: auto;
    animation: text 3s 1;
}
.project-name2{
    animation: text 3s 1;
}
.project-name3{
    animation: text 3s 1;
}
a{
    text-decoration: none;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    color: white;
    /* margin-top: 100px; */
    font-family: Cooper ;
    font-size: 2.5rem;
    padding: 1.2rem;
  }
  a:hover{
    border: .1rem solid white;
    border-radius: 4.0rem;
    background: white;
    color: rgb(29, 29, 80);
  }
  @keyframes text{
    0%{
      color: rgb(238, 240, 232);
      margin-bottom: 4.0rem;
    }
    85%{
      letter-spacing: .8rem;
      margin-bottom: 4.0rem;
    }
    30%{
      letter-spacing: 1.5rem;
      margin-bottom: 4.0rem;
    }
  }

.navigation-menu{
  background: white;
  height: 0%;
  width: 100%;
  margin-top: 10.0rem;
}


.about-us hr{
  align-items: center;
  color: #fff;
  width: 40rem;
  margin-bottom: 10%;
}
.details hr, .event-coordinator hr, .our-team-section hr{
  align-items: center;
  color: #fff;
  width: 50rem;
  margin-bottom: 10%;
}
.about-us h1, .details h1, .event-coordinator h1, .our-team-section h1{
  text-align: center;
  margin-top: 10rem;
  font-family: Alfa Slab One;
  font-size: 4rem;
  color: #fff;
  letter-spacing: .3rem;
}

.about-us img{
  height: 20%;
  width: 100%;
  padding: auto;
  margin-bottom: 3%;
}
.content, .content1 > div{
  margin: 10% ;
  align-items: center;
  font-family: Exo 2;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  padding: auto;
}
.about-us, .event-coordinator, .our-team-section{
  display: block;
  border: .1rem solid white;
}
/* @media  screen and (min-width: 500px) {
  .about-us img{
    height: 50rem;
    width: 60%;
    margin-left: 20%;
  }
} */
.details{
  display: block;
  border: .1rem solid white;
}
.content1{
  display: flex;
}
.content1 > div{
  border: .1rem solid white;
  padding: 5%;
}


.outer-container{
  display: flex;
  align-items: center;
}
.outer-container > .member{
     width: 40%;
     height: 80%;
     padding: 3%;
}
.outer-container > .member img{
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
  filter: grayscale(100%);
}
.content4{
  display: none;
  visibility: hidden;
  text-align: center;
  /* padding: auto; */
  font-size: 2rem;
  font-weight: 500;
  color: white;
}
.outer-container > .member img:hover{
  border: .5rem solid white;
  border-radius: 50% ;
  filter: grayscale(0%);
}
 .member:hover > .content4{
  display: inline-block;
  visibility: visible;
  color: black;
  width: 100%;
  height: 50%;
  background: white;
  /* border-radius: 0 0 30% 30%; */
}

.our-team {
  padding: 30px 0 40px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.our-team .pic{
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #bec5cc;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
height: 100%;
  background: #c1b8c2b7; 
}
.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
  background: #f1f2f5;
}
.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 10px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
.our-team:hover .pic img{
  box-shadow: 0 0 0 10px #f7f5ec;
  transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
  font-size: 22px;
  font-weight: 700;
  color: #f2f4f7;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post{
  display: block;
  font-size: 15px;
  color: #a4a4a5;
  text-transform:capitalize;
}


@media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
}
@media  screen and (max-width: 1000px){
  .content1{
   display: flex;
   flex-direction: column;
  }
  
}
@media  screen and (max-width: 500px) {
  .page-header{
    font-size: 2.5rem;
  }
  a{
    font-size: 2rem;
  }
  .naigation-bar a{
    margin-left: .1rem;
    margin-right: .1rem;
    font-size: 1rem;
  }
  .about-us h1, .details h1, .event-coordinator h1, .our-team-section h1{
    font-size: 2rem;
  }
  .content, .content1 > div{
    font-size: 1.5rem;
  }
  .about-us hr, .details hr, .event-coordinator hr, .our-team-section hr{
    width: 20rem;
  }
  .text1, .text2{
    font-size: 1.0rem;
    letter-spacing: .5rem;
  }
  .head{
    font-size: 1rem;
  }
}

@media  screen and (min-width: 501px) and (max-width: 650px) {
  .page-header{
    height: 57.0rem;
  }
  .naigation-bar a{
    font-size: 1rem;
    margin-left: .2rem;
    margin-right: .2rem;
  }
  .about-us h1, .details h1, .event-coordinator h1, .our-team-section h1{
    font-size: 2rem;
  }
}
 @media screen and (max-width: 850px) {
   .outer-container{
     display: flex;
     flex-direction: column;
   }
   
 }
 